		/*animation for ngRepeat */
.listItem.ng-enter,
.listItem.ng-leave,
.listItem.ng-move {
  transition: 0.5s linear all;
}

.listItem.ng-enter,
.listItem.ng-move {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.listItem.ng-enter.ng-enter-active,
.listItem.ng-move.ng-move-active {
  height: 1.5em;
  opacity: 1;
}

.listItem.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.listItem.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}